@import url('@fontsource/roboto');
@import url('@fontsource/roboto/500.css');
@import url('@fontsource/roboto/700.css');
body {
    color: #F6F7FB;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #2e2e3b;
}